HTTP_HOST=''
HTTP_PORT=8080

POSTGRES_HOST='localhost'
POSTGRES_USER='postgres'
POSTGRES_PASSWORD='postgres'
POSTGRES_DB='inspector'
POSTGRES_PORT=5432
POSTGRES_SSL_MODE='disable'
POSTGRES_TIME_ZONE='UTC'

JWT_SECRET='123456'
JWT_EXPIRED=600
JWT_REFRESH_EXPIRED=600

REDIS_ADDR='localhost:6379'

# BOT_TOKEN='6310062728:AAH8xpVZPYKx09inPu_4DGH0cU5gtTQP-Wg'
ADMINS='833391285,7233051530'

